<div class="container p-3 mt-1">
  <%= form_with model: @article do |form| %>
    <% if @article.errors.any? %>
      <% @article.errors.full_messages.each do |error| %>
      <div class="alert alert-danger alert-dismissible d-flex justify-content-left">
        <strong class="w-100"><%= error%></strong>
        <div class="close btn btn-danger" data-bs-dismiss="alert" aria-label="close">&times;</div>
      </div>
      <%end%>
    <%end%>
    <div>
      <%= form.label :title,class: "display-4" %>
    </br>
      <%= form.text_field :title ,class: "border border-0 rounded w-50 py-3 px-3" %>
    </div>
    <div>
      <%= form.label :description,class: "display-4" %>
    </br>
      <%= form.text_area :description,class: "border border-0 rounded w-100 py-3 px-3" %>
    </div>
  </br>
      <%= form.submit class: "btn btn-warning" %>
  <%end%>
</div>