<div class="container p-3 mt-1">
  <%= form_with model: @article do |form| %>
    <% if @article.errors.any? %>
      <% @article.errors.full_messages.each do |error| %>
      <div class="alert alert-danger alert-dismissible d-flex justify-content-left">
        <strong class="w-100"><%= error%></strong>
        <div class="close btn btn-danger" data-bs-dismiss="alert" aria-label="close">&times;</div>
      </div>
      <%end%>
    <%end%>
    <div class="container mt-5 text-center">
      <div><h2><%= form.label :title %></h2></div>
      <div><%= form.text_field :title,class: "w-50 border border-0 py-2 rounded ps-2" %></div>
      <div><h2><%= form.label :description%></h2></div>
      <div><%= form.text_area :description,rows: 10,class:"w-50 border border-0 py-2 rounded ps-2" %></div>
      <div><%= form.collection_select :category_id, Category.all, :id, :name %>
      </div>
      <br>
      <div> <%= form.submit class: "w-50 btn btn-primary" %></div>
    </div>
  <%end%>
</div>