<h1>Articles in your database</h1>
<% @article.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.description %></p>
  <p>
    <span><%= link_to "Show", article_path(article) %></span>
    <span><%= link_to "Edit", edit_article_path(article) %></span>
    <span><%= button_to "Delete", article_path(article) %></span>
  </p>
<%end%>

<h2><%= link_to "Create new article",new_article_path %></h2>