<%= link_to "Create articles" ,new_article_path,class: "display-8 m-5" %>
<% @article.each do |article| %>
  <div class="card text-center m-5">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <%= article.title %>
      </h5>
      <p class="card-text">
        <%= truncate(article.description,length: 50) %>
      </p>
      <p>
        <%= link_to "show" ,article_path(article),class: "btn btn-primary" %>
      </p>
      <p>
        <%= link_to "edit" ,edit_article_path(article),class: "btn btn-warning" %>
      </p>
      <p>
        <%= button_to "delete" , article_path(article), method: :delete,class: "btn btn-danger" %>
      </p>
    </div>
    <div class="card-footer text-muted">
      <small>Created <%= time_ago_in_words(article.created_at) %> ago,
          edited <%= time_ago_in_words(article.updated_at) %> ago</small>
    </div>
  </div>
  <%end%>