<% @article.each do |article| %>
      <div class="card text-center my-3 mx-5">
            <div class="card-header">
                  by srikanth gudimetla
            </div>
            <div class="card-body">
                  <h5 class="card-title">
                        <%= article.title %>
                  </h5>
                  <p class="card-text">
                        <%= truncate(article.description,length: 100) %>
                  </p>
                  <div class="d-flex justify-content-center">
                        <div class="m-1">
                              <%= link_to "show" ,article_path(article),class: "btn btn-primary" %>
                        </div>
                        <div class="m-1">
                              <%= link_to "edit" ,edit_article_path(article),class: "btn btn-primary" %>
                        </div>
                        <div class="m-1">
                              <%= button_to "delete" , article_path(article), method: :delete,class: "btn btn-danger" %>
                        </div>
                  </div>
            </div>
            <div class="card-footer text-muted">
                  Created <%= time_ago_in_words(article.created_at) %> ago, Updated <%=
                              time_ago_in_words(article.updated_at) %> ago
            </div>
      </div>
      <%end%>