<div class="container mt-5 bg-dark py-5 rounded">
  <div class="jumbotron">
    <h1 class="display-4 text-primary"><%= @article.title%></h1>
    <p class="lead text-white"><%= @article.description%></p>
    <p><%= link_to "Show", article_path(@article),class: "btn btn-outline-success px-3 w-25" %></p>
    <p><%= link_to "Edit", edit_article_path(@article),class: "btn btn-outline-warning px-3 w-25" %></p>
    <p><%= button_to "Delete", article_path(@article),method: :delete,class: "btn btn-outline-danger px-3 w-25" %></p>
  </div>
</div>
