<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Alpha-Blog",root_path,class: "navbar-brand display-5" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Bloggers",users_path,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Articles",articles_path,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Categories",categories_path,class: "nav-link" %>
        </li>
        <% if login %>
          <li class="nav-item">
            <%= link_to "New article",new_article_path,class: "nav-link" %>
          </li>
        <%end%>
        <% if login && current_user.admin %>
          <li class="nav-item">
            <%= link_to "New category",new_category_path,class: "nav-link" %>
          </li>
        <%end%>
        <% if current_user %>
        <li class="nav-item">
          <a class="nav-link"><%=current_user.username%> <%= "[Admin]" if current_user.admin%></a>
        </li>
        <li class="nav-item">
          <%= button_to "Log out",logout_path,method: :delete,class: "nav-link" %>
        </li>
        <%else%>
        <li class="nav-item">
          <%= link_to "Log in",login_path,class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up",signup_path,class: "nav-link" %>
        </li>
        <% end%>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>