<h1>Hi i am indx ergerger</h1>
<h1>
  <%= link_to "upload",upload_path %>
</h1>
<%= link_to "html(mine)",my_path %>
<%= link_to "csv(mine)",my_path(format: :csv) %>
<%= link_to "js(mine)",my_path(format: :xml) %>
<% @user.each do |user| %>
<%= user.name %>
<%end%>