<div class="container p-3 mt-1">
  <%= form_with model: @category do |form| %>
    <% if @category.errors.any? %>
      <% @category.errors.full_messages.each do |error| %>
      <div class="alert alert-danger alert-dismissible d-flex justify-content-left">
        <strong class="w-100"><%= error%></strong>
        <div class="close btn btn-danger" data-bs-dismiss="alert" aria-label="close">&times;</div>
      </div>
      <%end%>
    <%end%>
    <div class="container mt-5 text-center">
      <div><h2><%= form.label :name %></h2></div>
      <div><%= form.text_field :name,class: "w-50 border border-0 py-2 rounded ps-2" %></div>
      <br>
      <div> <%= form.submit class: "w-50 btn btn-primary" %></div>
    </div>
  <%end%>
</div>