<div class="app-navbar">
  <div class="nav-logo">
    <%= link_to "MyBlogs",blogs_path ,class:"nav-logo-name"%>
  </div>
  <div class="nav-form">
    <%=form_with  url: search_path,method: :get do |f| %>
      <%=f.text_field :search,placeholder:"Search here",class:"nav-input" %>
      <%=f.submit "Search",class:"nav-submit" %>
    <%end%>
  </div>
  <div class="nav-links">
   <%= link_to "Create Blog",new_blog_path,class:"nav-btn nav-new-blog"%>
    <%= button_to "Sign Out",destroy_user_session_path,method: :delete,data:{ turbo_confirm:"are you sure?you want to logout"},class:"nav-btn nav-logout"%>
  </div>
</div>