<h2>This is new page</h2>
<%= form_with model: @book,url: app_index_path,local: true do |f|%>
<h1>The object in form current is <%=@book%></h1>
<% if @book.errors.any?%>
  <%= "yes" %>
<%end%>
  <%= f.label :title%>
  <%= f.text_field :title%>
  <%= f.label :desc%>
  <%= f.text_area :desc%>
  <%= f.submit%>
<%end%>