<div class="signup">
  <div class="signup-container forgot-content">
    <h2 class="device-heading">FORGOT YOUR PASSWORD</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="signup-input-block">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email",class:"signup-field" %>
        <% if resource.errors.any? %>
        <p class="resource-err"><%= resource.errors[:email].first %></p>
        <%end%>
        <%= f.submit "Send me reset password instructions",class:"signup-field signup-btn"%>
    <% end %>
      </div>
      <div class="device-shared">
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>


    

