<div class="home">
  <div class="boxes">
    <div class="box" id="one">1</div>
    <div class="box" id="two">2</div>
    <div class="box" id="three">3</div>
  </div>
</div>

<!-- <h1 id="new" onclick="alert('fgjdgj')">I am new action</h1> -->
<!-- <%= image_tag 'mim' ,style:'width:100px'%>

<%= form_with do |f| %>
<%=f.text_field :name,placeholder:"input" %>
<%=f.text_area :name,placeholder:"area" %>
<%=f.radio_button :name ,placeholder:"hiii"%>
<%=f.check_box :email, label: "Email"  %>
<%=f.text_field :name,placeholder:"srikanth enter" %>
<%=f.text_field :name,placeholder:"srikanth enter" %>
<%=f.text_field :name,placeholder:"srikanth enter" %>
<%end%> -->
<!-- <script>
  alert("hi babe")
</script> -->

