<div class="device-container">
  <div class="device-content">
    <div class="box">
      <h2 class="device-heading">LOGIN</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="box">
        <div class="box-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email",class:"device-field" %>
        </div>
        <div class="box-field">
          <%= f.password_field :password, autocomplete: "current-password",placeholder:"password",class:"device-field" %>
        </div>
      <% if devise_mapping.rememberable? %>
        <div class="box-field">
          <div class="box-check">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,class:"box-check-lable" %>
          </div>
        </div>
      <% end %>
      <% if alert %>
       <% if !(alert == "You need to sign in or sign up before continuing.") %>
       <div >
        <div class="alert-login"><%= alert%></div>
      </div>
       <%end%>
      <%end%>
      <div class="box-field">
        <%= f.submit "Log in",class:"device-submit"%>
      </div>
    </div>
    <% end %>
    <div class="box">
      <div class="box-field">
        <div class="device-shared-links">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
    
