<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  chat with your mates!
</h2>
<div class="ui container">
  <div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="ui content">
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                  <% @messages.each do |message| %>
                  <div class="summary">
                  <em><%=message.user.username%></em> : <%=message.message_body%>
                  </div>
                  <%end%>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <%= form_with scope: :message,url: '/create' do |f| %>
          <div class="ui container center aligned">
            <%=f.text_field :message_body%>
            <%=f.submit "send"%>
          </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="ui content">
          <div class="ui inverted vertical menu">
            <a class="item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>