<h1>Blogs</h1>
<div>
  <% @blogs.each do |blog| %>
    <div>
      <div>Title : <%= blog.title%></div>
      <div>Description : <%= blog.description%></div>
      <div>
        <div>
          <%= link_to "edit",edit_blog_path(blog)%>
          <%= link_to "show",blog_path(blog) %>
          <%= button_to "delete",blog_path(blog),method: :delete,data:{ turbo_confirm:"Are you sure?you want to delete?"}%>
        </div>
      </div>
    </div>
    <br>
  <%end%>
</div>

<h2><%= link_to "New blog",new_blog_path%></h2>
<h2><%= button_to "Sign out",destroy_user_session_path,method: :delete,data:{ turbo_confirm:"are you sure?you want to logout"}%></h2>
