
<% if @searched_blogs.present? %>
<div class="index">
  <div class="index-content">
    <% @searched_blogs.each do |blog| %>
      <div class="index-box">
        <div class="index-data">
          <h2><%= blog.title%></h2>
          <div class="index-desc"><%= truncate(blog.description,length:30)%></div>
          <div class="index-links">
            <%= link_to "Edit",edit_blog_path(blog),class:"index-btns index-edit"%>
            <%= link_to "Show",blog_path(blog),class:"index-btns index-show" %>
            <%= button_to "Remove",blog_path(blog),method: :delete,data:{ turbo_confirm:"Are you sure?you want to delete?"},class:"index-btns index-delete"%>
          </div>
        </div>
        <div class="index-image">
            <%if blog.image.attached?%>
              <%= image_tag blog.image,class:"index-img"%>
            <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
<%end%>
