
<div class="show-container">
  <div class="show">
    <h1>
      <% if @blog.user %>
        <span class="show-span1">by</span><span class="show-span2"><%= @blog.user.first_name if !@blog.user.first_name.nil? %> <%=@blog.user.last_name if !@blog.user.last_name.nil? %></span>
      <%end%>
    </h1>
    <div class="show-block">
      <div class="show-title">
        <%= @blog.title%>
      </div>
      <div class="show-desc">
        <%= @blog.description%>
      </div>
      <div class="show-links">
        <%= link_to "Edit",edit_blog_path( @blog),class:"show-link show-edit"%>
        <%= button_to "Remove",blog_path( @blog),method: :delete,data:{ turbo_confirm:"Are you sure?you want to delete?"},class:"show-link show-remove"%>
      </div>
    </div>
    <div class="show-image">
      <%if @blog.image.attached?%>
        <%= image_tag @blog.image,class:"show-img"%>
      <%end%>
    </div>
  </div>
</div>

