<h1>Articles</h1>
<% @article.each do |article| %>
<div>
  <%= article.article_name %>
  <%= link_to 'show',article_path(article) %>
  <%= link_to 'update', edit_article_path(article)%>
  <%= button_to 'delete', article_path(article),method: :delete%>
</div>
</br>
<%end%>

<h1><%=link_to 'new',new_article_path %></h1>